---
const title = 'About'

import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title={title}>
  <article>
    <h2>About</h2>
    <p>
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc quis odio vitae dui faucibus accumsan. Aenean faucibus ipsum nec libero laoreet aliquam. Sed tincidunt
      felis sed eros cursus condimentum. Vivamus nec ante ac dolor interdum vestibulum id nec velit. Donec sed augue tortor. Donec blandit risus eget lacus laoreet tincidunt. Curabitur fermentum, diam
      in condimentum rhoncus, sem lorem vulputate diam, ut sodales odio justo vitae sem. Nam vitae vestibulum justo, vitae euismod libero. Sed nec mauris laoreet, ultricies velit eget, luctus augue.
      Nunc posuere mattis sollicitudin. Praesent aliquet vitae purus vitae pretium. Vivamus accumsan justo fermentum nunc sollicitudin vehicula. Vestibulum id turpis ac quam gravida commodo id nec
      dui.
    </p>
    <p>
      Aliquam at semper massa. Phasellus tempus non elit eu mollis. Nunc mauris sapien, eleifend laoreet magna id, egestas rutrum leo. Vivamus ipsum turpis, bibendum in tortor at, ornare luctus felis.
      Mauris varius molestie pulvinar. Fusce eget ante sit amet est ornare elementum a non nunc. Nullam tempor fermentum lacus, et commodo neque posuere vitae. Proin nec nulla mattis, mollis ante ac,
      efficitur risus. Donec luctus pretium sapien, sed malesuada velit volutpat at. Ut ex lacus, aliquam ac ultrices eget, maximus at ex. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. In ullamcorper, lorem sit amet ultrices faucibus, turpis sem rutrum mi, sit amet hendrerit tortor quam posuere dui. Pellentesque a venenatis mauris, non
      dignissim dolor. Fusce fermentum aliquet leo, eu viverra lacus placerat vitae. Fusce sed congue sapien.
    </p>
  </article>
</BaseLayout>
