---
import PostCard from '@/components/PostCard.astro'

const { page } = Astro.props
---

<div class='paginated-posts'>
  <ol>
    {page.data.map((post) => <PostCard post={post} />)}
  </ol>
  {
    page.url.prev || page.url.next ? (
      <nav class='pagination' aria-label='Pagination navigation'>
        {page.url.prev ? (
          <a href={`/astro-page${page.url.prev}`} class='prev'>
            ← Newer posts
          </a>
        ) : null}
        {page.url.next ? (
          <a href={`/astro-page${page.url.next}`} class='next'>
            Older posts →
          </a>
        ) : null}
      </nav>
    ) : null
  }
</div>
