---
import FormattedDate from './FormattedDate.astro'

const { post } = Astro.props
---

<div class='post-details'>
  <FormattedDate date={post.data.pubDate} />
  <ul class='tags'>
    {
      post.data.tags.map((tag: string) => (
        <li>
          <a href={`/astro-page/blog/tag/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</div>
